body {
  margin: 0px;
  padding: 0px;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

#map {
  cursor: default;
}

.leaflet-popup-content-wrapper {
  text-align: center;
}

.leaflet-popup-close-button {
  display: none;
}

#startRecording, #recordingInProgress, #newClip {
  cursor: pointer;
}

#startRecording, #recordingInProgress, #clipRecorded {
padding: 15px;
}

.leaflet-popup-content {
	margin: 0px 0px !important;
}

.leaflet-popup-content-wrapper {
	padding: 1px !important;
}

input[type=radio] {
}

#searchButton {
  background-image: url("../images/target_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #f4f4f4;
}

.textPopup {
  white-space: pre;
}
